
<!-- Page Header -->
<div class="inner-page-header">
	<div class="container">
		<div class="row">

			<!-- Page Title -->
			<div class="col-md-8">
				<h1 class="title">About Company</h1>
				<div class="subtitle">There are many variations of passages </div>
			</div>
			<!-- /Page Title -->

			<!-- Breadcrumbs -->
			<div class="col-md-4">
				<ul class="breadcrumb">
					<li><i class="fa fa-fw fa-home"></i> <a href="#">Home</a></li>
					<li>About</li>
				</ul>
			</div>
			<!-- /Breadcrumbs -->

		</div>
	</div>
</div>
<!-- /Page Header -->

<!-- Main -->
<main class="main-container">

	<!-- Section: About Company -->
	<section id="about-company" class="section section-small">
		<div class="container">

			<!-- Section Content -->
			<div class="row">

                <div class="col-xs-12 col-sm-7">

                    <h3 class="title">Our History</h3>
                    <p class="text-justify">
                        It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here, content here', making it look like
                        readable English.
                    </p>

                    <p class="text-justify">
                        Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                        default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                        infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                        (injected humour and the like).
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable.
                    </p>

                </div>

                <div class="col-xs-12 col-sm-5">

                    <h3 class="title">Our Skills</h3>

                    <div class="skills">

                        <div class="title"> HTML5 <span>80%</span></div>
                        <div class="progress">
                            <div style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                 role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.3s"></div>
                        </div>

                        <div class="title"> CSS3 <span>75%</span></div>
                        <div class="progress">
                            <div style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75"
                                 role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.6s"></div>
                        </div>

                        <div class="title"> JavaScript &amp; jQuery <span>85%</span></div>
                        <div class="progress">
                            <div style="width: 85%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85"
                                 role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="0.9s"></div>
                        </div>

                        <div class="title"> PHP <span>90%</span></div>
                        <div class="progress">
                            <div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                                 role="progressbar" class="progress-bar fadeInLeft wow" data-wow-duration="1.3s" data-wow-delay="1.2s"></div>
                        </div>

                    </div>


                </div>

			</div>
			<!-- /Section Content -->

		</div>
	</section>
	<!-- /Section: About Company -->

    <!-- Section: Statistics -->
    <section id="stat" class="section section-small bg-light-gray">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="circle-stat">
                        <div class="circle-progress" data-percents="80">
                            <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0"></circle>
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0" class="bar"></circle>
                            </svg>
                        </div>
                        <div class="title">HTML5</div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="circle-stat">
                        <div class="circle-progress" data-percents="75">
                            <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0"></circle>
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0" class="bar"></circle>
                            </svg>
                        </div>
                        <div class="title">CSS3</div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="circle-stat">
                        <div class="circle-progress" data-percents="85">
                            <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0"></circle>
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0" class="bar"></circle>
                            </svg>
                        </div>
                        <div class="title">JavaScript & jQuery</div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="circle-stat">
                        <div class="circle-progress" data-percents="90">
                            <svg width="100" height="100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0"></circle>
                                <circle r="49" cx="50" cy="50" fill="transparent" stroke-dashoffset="0" class="bar"></circle>
                            </svg>
                        </div>
                        <div class="title">PHP</div>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <!-- /Section: Statistics -->

    <!-- Section: Our Team -->
    <section id="our-team" class="section section-small">
        <div class="container">

            <!-- Section Header -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <header class="section-header">
                        <h2 class="section-title">Our <span class="text-theme">Best Team</span></h2>
                        <p class="section-subtitle">
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.
                        </p>
                    </header>
                </div>
            </div>
            <!-- /Section Header -->

            <!-- Section Content -->
            <div class="row section-content">

                <!-- Testimonials Carousel -->
                <div class="carousel owl-carousel owl-theme">

                    <!-- Testimonial -->
                    <div class="item team-member">
                        <div class="person">
                            <div class="image">
                                <%= image_tag ("author-image-01.jpg") %>
                            </div>
                            <h3 class="name">Jeremy Scott</h3>
                            <span class="post">Company Founder</span>
                        </div>
                        <ul class="list-inline social-inline">
                            <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                        </ul>
                    </div>
                    <!-- /Testimonial -->

                    <!-- Testimonial -->
                    <div class="item team-member">
                        <div class="person">
                            <div class="image">
                                <%= image_tag("author-image-02.jpg") %>
                            </div>
                            <h3 class="name">Ann Harper</h3>
                            <span class="post">Web-Developer</span>
                        </div>
                        <ul class="list-inline social-inline">
                            <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                        </ul>
                    </div>
                    <!-- /Testimonial -->

                    <!-- Testimonial -->
                    <div class="item team-member">
                        <div class="person">
                            <div class="image">
                                <%= image_tag("author-image-03.jpg") %>
                            </div>
                            <h3 class="name">William Bell</h3>
                            <span class="post">Animation Designer</span>
                        </div>
                        <ul class="list-inline social-inline">
                            <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                        </ul>
                    </div>
                    <!-- /Testimonial -->

                    <!-- Testimonial -->
                    <div class="item team-member">
                        <div class="person">
                            <div class="image">
                                <%= image_tag("author-image-04.jpg") %>
                            </div>
                            <h3 class="name">Gerald Payne</h3>
                            <span class="post">SEO-Specialist</span>
                        </div>
                        <ul class="list-inline social-inline">
                            <li><a href="#" class="fa fa-fw fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-fw fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-fw fa-google-plus"></a></li>
                            <li><a href="#" class="fa fa-fw fa-dribbble"></a></li>
                            <li><a href="#" class="fa fa-fw fa-pinterest"></a></li>
                        </ul>
                    </div>
                    <!-- /Testimonial -->

                </div>
                <!-- /Testimonials Carousel -->

            </div>
            <!-- /Section Content -->

        </div>
    </section>
    <!-- /Section: Our Team -->

    <!-- Section: Partners -->
    <section id="partners" class="section section-small bg-light-gray">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partner">
                        <%= image_tag("logo.png") %>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partner">
                        <%= image_tag("logo.png") %>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partner">
                        <%= image_tag("logo.png") %>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="partner">
                        <%= image_tag("logo.png") %>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /Section: Partners -->

</main>
<!-- /Main -->
